# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/Server/__pycache__/forConversation.cpython-311.pyc
src/Server/__pycache__/loginReqRes.cpython-311.pyc
src/Server/__pycache__/model_service.cpython-311.pyc
src/Server/__pycache__/nameTitleRequest.cpython-311.pyc
src/Server/__pycache__/Previous.cpython-311.pyc
src/Server/__pycache__/ReqResBody.cpython-311.pyc
src/Server/__pycache__/server.cpython-311.pyc
src/Server/__pycache__/UpdateChatRequest.cpython-311.pyc
src/Server/__pycache__/updateTitle.cpython-311.pyc
src/Server/ggml-model-gpt4all-falcon-q4_0.bin
src/Server/tokenizer/sentencepiece.bpe.model
src/Server/tokenizer/special_tokens_map.json
src/Server/tokenizer/tokenizer.json
src/Server/tokenizer/tokenizer_config.json
src/Server/translation_model/config.json
src/Server/translation_model/generation_config.json
src/Server/translation_model/pytorch_model.bin
src/Server/gpt4all-falcon-q4_0.gguf
src/Server/v5/model/config.json
src/Server/v5/model/generation_config.json
src/Server/v5/model/model.safetensors
src/Server/__pycache__/correctGrammar.cpython-311.pyc
src/Server/v5/tokenizer/special_tokens_map.json
src/Server/v5/tokenizer/tokenizer_config.json
src/Server/v5/tokenizer/tokenizer.json
*.pyc
build.zip
